section.carousel {
    .my-swiper {
        margin: 0;
        padding-bottom: 24px;
        
        img.soon {
            display: block;
            margin: 0 auto;
            
            @media (max-width: 600px) {
                max-width: 300px;
            }
        }

        .swiper-slide {
            max-width: 255px;
        }

        .swiper-pagination {
            bottom: 0;
            .swiper-pagination-bullet-active {
                background: var(--pink);
            }
        }
      }
}